* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}


body {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", "Arial", sans-serif;
  min-height: 100vh;
  min-width: 1280px;
  color: #1E222E;
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

ul, ol{
  list-style: none; 
}